.container {
    padding: 0 !important;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 36px;

    box-shadow: 0 0 5px rgb(167, 167, 167);
    border-radius: 12px;
}

.form-wrapper {
    display: flex;

    flex-direction: column;
}

.form-wrapper input {
    margin-bottom: 36px;
}

.form-wrapper input:last-child {
    margin-bottom: 0 !important;
}

